<div id="sheet" data-ng-controller="WhichOnesSheetController">
	<div id="list-header" class="ui-corner-all">
		<div class="ui-widget-header ui-corner-top">
			<div>{{ sheet.title }}</div>
			<div>{{ sheet.description }}</div>
		</div>
		<table>
			<thead>
				<tr>
					<th data-ng-repeat="header in sheet.headers">
						{{ header.name }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="line in orderedLines" 
					data-ng-class="{selectedLine: line.selected}"
					data-line="line"
					data-selectable="line" 
					data-line-id="{{line.id}}"
					data-ng-click="line.isSection || select()"
					class="line">
					<th data-ng-if="line.isSection" 
						class="sectionHeader" 
						data-section-id="line.section.id"
						colspan="{{sheet.headers.length}}" >
						{{ line.section.name }}
					</th>
					<td data-ng-repeat="datum in line.data" data-ng-if="!line.isSection" class="line">
						{{ datum.value }} 
					</td>						
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td data-ng-repeat="header in sheet.headers" >
						<span data-ng-if="header.value">{{header.total}}</span>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>